<img src="logo.png" alt="banniere ISET">
<div>
    <img src="isetch.png" alt="Logo ISET" class="logo">
    <strong class="text-center">INSTITUT SUPÉRIEUR DES ETUDES TECHNOLOGIQUES DE CHARGUIA</strong>

</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/news" routerLinkActive="active">Nouveautés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/institute" routerLinkActive="active">Institut</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="deps" routerLinkActive="active">Départements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="education" routerLinkActive="active">Formation</a>
          </li>
        </ul>
          <button class="btn btn-info" type="button"  routerLink="/extranet">Espace Extranet</button>
      </div>
    </div>
  </nav>